// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  border: solid 1px rgb(220,220,220);
  border-radius: 3px;
  height: auto;
  min-height: 40px;
  padding: 8px 0 0 12px;
}